/* nav-sidebar */
.nav-sidebar {
    width: var(--navsidebar-height);
    height: 100%;
    width: 300px;
    max-width: 100%;
    background-color: var(--white-color);
    color: #757575;
    position: fixed;
    font-weight: bold;
    z-index: 2;
}

.nav-sidebar__heading {
    background-color: var(--white-color);
    text-align: center;
    font-size: 2.4rem;
    line-height: 36px;
    padding: 80px 0;
    margin: 10px 0;
}

.nav-sidebar__item {
    display: block;
    color: #757575;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.5rem;
    line-height: 20px;
    padding: 8px 16px;
    outline: 0;
}

.nav-sidebar__item:hover {
    background-color: #ccc;
    color: var(--black-color);
}

/* header small screen */
.header__screen-small {
    display: none;
    width: 100%;
    position: fixed;
    top: 0;
    padding: 16px;
    font-size: 2.4rem;
    z-index: 1;
    color: var(--black-color);
    background-color: var(--white-color);
}

.header__heading-small {
    float: left;
    padding: 16px 16px;
}

.header__link-small {
    float: right;
    padding: 12px 16px;
    color: var(--black-color);
}

.header__link-small:hover {
    background-color: #ccc;
}

.header__icon-small {
    /* padding: 4px 0; */
    font-size: 2.4rem;
}

.main_content {
    margin-left: 300px;
}


/* Header */
.header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}  

.header__item {
    width: 33.3334%;
    
}

.header__item img{
    margin-bottom: -6px;
    opacity: 0.8;
    cursor: pointer;
    vertical-align: middle;
}

.header__item img:hover {
    opacity: 1;
}

.header__item img,
.header__item_img {
    width: 100%;
}

/* Pagination */
.pagination {
    padding: 32px;
}

.pagination__list {
    list-style: none;
    padding-left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}


.pagination__item a:hover {
    color: var(--white-color);
    background-color: var(--black-color);
}

.pagination__item--active .pagination__item__link {
    color: var(--white-color);
    background-color: var(--black-color);
}



.pagination__item_link {
    --height : 36px;
    display: block;
    text-decoration: none;
    font-size: 1.6rem;
    color: var(--black-color);
    min-width: 40px;
    height: var(--height);
    line-height: var(--height);
    text-align: center;
}   


/* wrapper */
.wrapper {
    background-color: #616161;
    padding-top: 32px;
    padding-bottom: 18px;
    text-align: center;
}


.wrapper__heading {
    font-size: 1.8rem;
    color: var(--white-color);
    margin: 10px 0;
}

.wrapper__img {
    padding: 32px 0;
    width: 600px;
    max-width: 100%;
    height: auto;
}

.wrapper__content {
    max-width: 600px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
    font-size: 1.5rem;
    color: var(--white-color);
}



.wrapper__content_heading {
    font-size: 1.8rem;
    font-weight: 400;
   
}

.wrapper__content-about{
    line-height: 20px;
}

.wrapper__content-email {
    display: block;
    padding: 24px 0;
}

.wrapper__content-tel {
    display: block;
}

.wrapper__content-skill {
    letter-spacing: 4px;
}


.wrapper__content-line {
    margin: 24px 0;
    display: block;
    border-top: 1px solid #eee;
    opacity: 0.8;
}

.wrapper__content-percent {
    margin: 24px 0;
    background-color: var(--white-color);
}

.wrapper__content-percent .wrapper__content-percent_main-large,
.wrapper__content-percent .wrapper__content-percent_main-medium,
.wrapper__content-percent .wrapper__content-percent_main-small  {
    min-height: 30px;
    color: var(--black-color);
    background-color: #9e9e9e;
    line-height: 30px;
    text-align: center;
}

.wrapper__content-percent .wrapper__content-percent_main-large {
    width: 95%;
}

.wrapper__content-percent .wrapper__content-percent_main-medium {
    width: 85%;
}

.wrapper__content-percent .wrapper__content-percent_main-small {
    width: 80%;
}

.wrapper__content-btn {
    padding: 12px 24px;
    border: none;
    outline: none;
}

.wrapper__content-btn:hover {
    background-color: #ccc;

}
.wrapper__content_row {
    margin: 0 -8px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.wrapper__content_items {
    width: 49.9999%;
    opacity: 0.6;
    padding: 0 8px;
    margin-bottom: 16px;
}

.wrapper__content_items:hover {
    opacity: 1;
}
.wrapper__content_list {
    background-color: var(--white-color);
    color: var(--black-color);
    list-style: none;
    padding-left: 0;   
    text-align: center;
    
}
.wrapper__content_item {
    border-bottom: 1px solid #ccc;
    padding: 24px 16px;
    
}

.wrapper__content_item h3{
    font-size: 3rem;
    font-weight: 500;
    margin: 20px 0 30px 0;
}

.wrapper__content_item-black {
    background-color: var(--black-color);
    color: var(--white-color);
    padding: 32px;
    font-size: 1.8rem;
    
}

.wrapper__content_item-permonth {
    display: block;
    opacity: 0.6;
}

.wrapper__content_item-has-btn {
    background-color: #f1f1f1;
}
.wrapper__content_item-btn {
    padding: 12px 24px;
    border: none;
    outline: none;
    background-color: #fff;
}

.wrapper__content_item-btn:hover {
    background-color: #ccc;
}

/* Conntact */
.contact {
    text-align: center;
    padding: 32px 16px;
    background-color: #f1f1f1;
}

.contact__main {
    max-width: 600px;
    margin: auto;
}

.contact__heading {
    font-size: 2rem;
}

.contact__heading--sub {
    text-align: justify;
    font-size: 1.5rem;
    line-height: 20px;
}

form {
    text-align: justify;
    font-size: 1.5rem;
}
.contact__item {
    margin: 16px 0;
}

.contact__item_form--control {
    display: block;
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
}

.contact-btn {
    width: 100%;
    background-color: var(--black-color);
    color: var(--white-color);
    cursor: pointer;
    border: none;
    padding: 12px 16px;
    margin-bottom: 16px;
}

.contact-btn:hover {
    background-color: #ccc;
}

/* footer */
.footer {
    padding: 32px 16px;
    background-color: #9e9e9e !important;  
} 

.footer__row {
    padding: 0 8px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.footer__column-third {
    width: 33.3334%;
    padding: 0 8px;
}

.footer__heading {
    font-weight: 400;
    font-size: 2.5rem;
    margin: 10 auto;
}

.footer__sub {
    font-size: 1.5rem;
    line-height: 25px;
}

.footer__column_list {
    list-style: none;
    padding: 0;
}

.footer__column_item {
    padding: 16px 16px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.footer__column_item:hover {
    background-color: var(--black-color);
    color: var(--white-color);
}

.footer__column_item:first-child {
    border-bottom: 1px solid #ddd;
}

.footer__column_item .footer__column_img {
    width: 50px;
    max-width: 100%;
    opacity: 0.8;
    cursor: pointer;
    margin-right: 16px;
}

.footer__column_item .footer__column_img:hover {
    opacity: 1;
}

.footer__column_info {
    line-height: 2.4rem;
}

.footer__column_name {
    font-size: 1.8rem;
    font-weight: 400;
    margin: 0;
}

.footer__column_description {
    font-size: 1.5rem;
}

.footer__column-tag {
    padding-left: 4px;
    padding-right: 4px;
}

.footer__column-tag_item {
    background-color: #616161;
    color: var(--white-color);
    display: inline-block;
    font-size: 1.2rem;
    line-height: 2rem;
    padding-left: 8px;
    padding-right: 8px;
    text-align: center;
    margin-bottom: 16px;
}

.footer__column-tag_item--big {
    background-color: var(--black-color);
    font-size: 1.5rem;
    line-height: 2.5rem;
}

/* brand */
.brand {
    background-color: var(--black-color);
    color: var(--white-color);
    padding-top: 24px;
    padding-bottom: 24px;
    text-align: center;
    font-size: 1.5rem;
}

.brand__link {
    color: var(--white-color);
}