/* PC */
@media (min-width: 1024px) {

}

/* Table */
@media (min-width: 740px) and (max-width: 1023px) {
    .main_content {
        margin-left: 0;
        margin-right: 0;
    }

    .nav-sidebar {
        display: none;
        
    }

    .header__screen-small {
        display: block;
    }

    .pagination__list {
        padding-left: 0;
    }
}

/* Mobile */
@media (max-width: 740px) {
    .nav-sidebar {
        display: none;
        z-index: 3;
        width: 300px;
    }

    #close {
        display: block;
    }

    .header__screen-small {
        display: block;
    }

    .main_content {
        margin-left: 0;
        margin-right: 0;
        margin-top: 83px;
    }

    .header {
        flex-direction: column;
    }
    .header__item {
        width: 100%;
    }

    .wrapper {
        padding-left: 16px;
        padding-right: 16px;

    }

    .pagination__list {
        padding-left: 0;
    }

    .wrapper__content_row {
        flex-direction: column;
    }

    .wrapper__content_items {
        width: 100%;
    }

    .footer__row {
        flex-direction: column;

    }

    .footer__column-third {
        width: 100%;
    }
}